@model mkcs.libtisiweb.ViewModels.Page.Media.MediaIndexModel

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
@foreach (var folderPart in Model.Folder.Split('/'))
{
    if (folderPart != Model.Folder.Split('/').Last())
    {
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Pictures" asp-action="Index" asp-route-id="@Model.Folder.Substring(0, Model.Folder.IndexOf(folderPart + "/") + folderPart.Length)">@folderPart</a></li>
    }
    else
    {
        <li class="breadcrumb-item active" aria-current="page">@folderPart</li>
    }
}
      </ol>
    </nav>

<h1>@Model.Title</h1>
<p>@Model.LongTitle</p>

@if ((Model.MediaList?.Count ?? 0) == 0)
{
    <div>This folder does not contain any pictures!</div>
}
else
{
    @foreach (var picture in Model.MediaList ?? Enumerable.Empty<mkcs.libtisiweb.Models.MediaInfo>())
    {
        if (picture.ID == "lowres" || picture.ID == "midres")
        {
            continue;
        }
        <div class="gallery" style="text-align: center;">
        @if (picture.MediaType == mkcs.libtisiweb.Models.Enums.MediaType.Folder)
        {
            var folderRouteId = Model.Folder + "/" + picture.ID;
            <div style="font-size: xx-large;">📁</div>
            <a asp-area="" asp-controller="Pictures" asp-action="Index" asp-route-id="@folderRouteId">@picture.ID</a>
        }
        else
        {
                <a href="~/pics/@Model.Folder/@picture.ID">
                    <img src="~/pics/@Model.Folder/lowres/@picture.ID" alt="@picture.Description">
                </a>
                <div class="desc">@picture.Description<br>@picture.Created</div>
        }
        </div>
    }
}