@model hellotisiweb.Models.GuestbookModel;

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <h2>@Model.LongTitle</h2>

    <div class="fullwidth-table">
        <!-- Page navigation START -->
        @if (Model.PageNumber > 1)
        {
            <a class="btn btn-primary" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber-1)">←</a>
        }
        else
        {
            <a class="btn btn-secondary" href="#">←</a>
        }
        @foreach (var pageNumber in Enumerable.Range(1, Model.PageCount))
        {
            <a class="btn @(pageNumber == Model.PageNumber ? "btn-success" : "btn-primary")" value="@pageNumber" asp-action="Index" asp-route-pageNumber="@pageNumber">@pageNumber</a>
        }
        @if (Model.PageNumber < Model.PageCount)
        {
            <a class="btn btn-primary" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber+1)">→</a>
        }
        else
        {
            <a class="btn btn-secondary" href="#">→</a>
        }
        <!-- Page navigation END -->
        @foreach (var entry in Model.GuestbookEntries)
        {
            <div class="entry-header">
                <b>@entry.Subject</b> written by <b>@entry.Author</b> at <i>@entry.Date</i>
            </div>
            <div class="entry-body">
                @entry.Text
            </div>
        }
    </div>
</div>
