html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
  text-align: center;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.fullwidth-table
{
  border: 0px;
  display: table;
  padding: 2px 2px 2px 2px;
  width: 100%;
  text-align: left;
}

.entry-header
{
  border: solid 1px grey;
  margin: 4px 4px 4px 4px;
  padding: 4px 8px 4px 8px;
  display: block;
  font-size: x-large;
}

.entry-body
{
  border: 1px solid grey;
  margin: 4px 4px 14px 4px;
  padding: 4px 8px 4px 8px;
  display: block;
}