﻿@model HomeIndexModel
@{
    ViewData["Title"] = @Model.Title;
}

<div class="text-center">
    <h1 class="display-4">@Model.Heading</h1>
    <p>@Model.Text</p>
    <pre>@Model.DebugInformation</pre>
</div>
